<div class="container mt-5">
    <h2 class="text-center my-4">Forget Password</h2>
    <div class="registration-form">
        <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">Email:</label>
                <input type="text" placeholder="Email" formControlName="email" class="form-control" id="email" required email
                [ngClass]="{'is-invalid':isforgerFormSubmitted && forgetFormControls['email'].errors}"> 
                <div *ngIf="isforgerFormSubmitted && forgetFormControls['email'].errors" class="invalid-feedback">
                    <div *ngIf="forgetFormControls['email'].errors['required']">
                        Email is required
                    </div>
                    <div *ngIf="forgetFormControls['email'].errors['email']">
                        Enter valid email id
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Date of Birth:</label>
                <input type="date" placeholder="Date of Birth" formControlName="dob" class="form-control" id="dob" required
                [ngClass]="{'is-invalid':isforgerFormSubmitted && forgetFormControls['dob'].errors}"> 
                <div *ngIf="isforgerFormSubmitted && forgetFormControls['dob'].errors" class="invalid-feedback">
                    <div *ngIf="forgetFormControls['dob'].errors['required']">
                        Date of Birth is required
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Go</button>
            <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
            </div>
        </form> 
    </div>
</div>
    

<router-outlet></router-outlet>