<div class="container mt-5">
    <h2 class="text-center my-4">Change Password</h2>
    <div class="registration-form">
        <form [formGroup]="changeForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <input type="text" placeholder="New Password" formControlName="newpassword" class="form-control" id="newpassword" required minlength
                [ngClass]="{'is-invalid':isChangeFormSubmitted && changeFormControls['newpassword'].errors}"> 
                <div *ngIf="isChangeFormSubmitted && changeFormControls['newpassword'].errors" class="invalid-feedback">
                    <div   div *ngIf="changeFormControls['newpassword'].errors['required']">
                        New password is required
                    </div>
                    <div *ngIf="changeFormControls['newpassword'].errors['minlength']">
                        Enter minimum 6 character in New password
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <input type="text" placeholder="Confirm Password" formControlName="confirmpass" class="form-control" id="confirmpass" required minlength
                [ngClass]="{'is-invalid':isChangeFormSubmitted && changeFormControls['confirmpass'].errors}"> 
                <div *ngIf="isChangeFormSubmitted && changeFormControls['confirmpass'].errors" class="invalid-feedback">
                    <div *ngIf="changeFormControls['confirmpass'].errors['required']">
                        Current Password is required
                    </div>
                    <div *ngIf="changeFormControls['confirmpass'].errors['minlength']">
                        Enter minimum 6 character in Current password
                    </div>
                </div>
            </div>

            <!-- Error message for Passwords do not match -->
            <div *ngIf="successMessage" class="alert alert-success">
                {{ successMessage }}
            </div>

            <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
            </div>

            <button type="submit" class="btn btn-primary btn-block">SAVE</button>
        </form> 
    </div>
</div>
    

<router-outlet></router-outlet>